backoff>=2.1.2
boto3>=1.15.1
botocore>=1.18.1
dnspython>=1.15.0
neo4j>=4.4.4,<6.0.0
policyuniverse>=1.1.0.0
google-api-python-client>=1.7.8
oauth2client>=4.1.3
marshmallow>=3.0.0rc7
oci>=2.71.0
okta<3.0.0
pyyaml>=5.3.1
requests>=2.22.0
statsd
packaging
python-digitalocean>=1.16.0
adal>=1.2.4
azure-cli-core>=2.26.0
azure-mgmt-compute>=5.0.0
azure-mgmt-resource>=10.2.0
azure-mgmt-cosmosdb>=6.0.0
msrestazure >= 0.6.4
azure-mgmt-storage>=16.0.0
azure-mgmt-sql<=3.0.1
azure-identity>=1.5.0
kubernetes>=22.6.0
pdpyras>=4.3.0
crowdstrike-falconpy>=0.5.1
flask>=2.1.0
flask-executor>=1.0.0
gunicorn>=20.1.0
zeuscloud-iamspy>=0.8.0
pydantic<=2.7.3
